<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Index</title>
</head>
<body>
    <nav>
        <a href="/pokedex/new">Add Pokemon</a>
    </nav>
    <h1>Welcome To The World Of Pokemon</h1>
    <div>
        <% for (let i=0; i < data.length-145; i++) { %>
            
                <a href="/pokedex/<%= i %>">
                    <%= data[i].name %>
                    </a>
                    <img src="<%=data[i].img%>">
                    <a href="/pokedex/<%=i; %>/edit">Edit</a>
                    <form action="/pokedex/<%=i; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                        </form>
                    
            
            <% } %>
    </div>

    <style>
        nav{
            display: flex;
            justify-content: center;
            background-color: #87CEEB;
            height: 70px;
        }
        h1{
            display: flex;
            justify-content: center;
            color: 	#87CEEB;
        }
        body {
            background-color: #FFD580;
        }
    </style>
</body>
</html>