<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>Pokemon Info <%=data.name%></nav>
    <div>
        <img src="<%=data.img%>">
        <p>ID: <%= data.id %></p>
    </div>
    <div>
        <p>Type: <%= data.type %></p>
    </div>
    <div>
        <ul> Stats:
                <li>
                    Hp: <%= data.stats.hp %>
                    Attack: <%= data.stats.attack %>
                    Defense: <%= data.stats.defense %>
                 </li>

        </ul>
    </div>




    <a href="/pokedex">Back to Index</a>
</body>
</html>